.selected-courses-tag-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
    max-width: min(80%, 700px);
    margin: auto;
    justify-content: center;
}

.selected-course-tag {
	background-color: #d4f4dc; /* Light green background */
	border-radius: 0.5rem; /* Rounded border */
	padding: 8px 12px;
	font-size: 14px;
	color: #333;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
	border: 1px solid #a1e3b6; /* Border matching the green */
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: auto;
	max-width: 250px;
}

.remove-btn {
	background-color: transparent;
	color: red;
	border: none;
	border-radius: 0.5rem;
	padding-left: 8px;
    padding-right: 0;
	font-size: 20px;
	cursor: pointer;
    display: flex;
    align-items: center;
}

