.action-bar {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px 0;
	z-index: 100;
	/* border: solid 1px black; */
	background-color: rgb(154, 209, 255);
	box-shadow: 1px 2px 1px;
	/* backdrop-filter: blur(2px); */
	padding: 0 15px;
	width: min(85%, 1000px);
	height: 3em;
	border-radius: 10px;
	font-size: 1em;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: space-between;

	/* justify-content: center; */
}
