.action-bar {
	position: fixed;
	bottom: 0;
	right: 0;
	/* margin: 10px 0; */
	z-index: 100;
	/* background-color: rgb(221, 231, 238); */
	/* background-color: rgb(191, 226, 232); */
	background-color: rgb(162, 187, 255);

	/* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 1px 2px 1px rgba(0, 0, 0, 0.2),
		1px 2px 1px rgba(0, 0, 0, 0.2); */
	padding: 5px;
	width: min(100%, 800px);
	/* border-radius: 10px; */
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: small;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: space-around;

	/* justify-content: center; */
}
.action-bar-btn {
	border: none;
	outline: none;
	height: 100%;
	padding: 0.3em;
	background-color: #f3eee8;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;

	font-size: small;
}
.action-bar-btn:hover {
	cursor: pointer;
	background-color: rgb(34, 101, 224);
	color: white;
}
.red {
	color: red;
	border: 1px solid red;
}
button:hover.red {
	background-color: rgba(255, 129, 129, 0.621);
	color: red;
}
.go-btn {
	transition: padding 100ms linear;
	padding: 0.6em 3em;
	border-radius: 8px;
	box-shadow: black -1px 2px 2px;
	border: 2px solid transparent;
}
.go-btn:hover {
	padding: 0.6em 3.5em;
	/* box-shadow: black 0px 0px 2px; */
}
.go-btn:active {
	border: 2px solid black;
}
.go-btn.enabled {
	/* background-color: rgb(34, 101, 224); */
	/* color: white; */
	color: white;
	background-color: rgb(34, 101, 224);
	/* border: 1px solid blue; */
	/* padding: 1em; */
}
