.course-item {
	border: 1px solid #0d4992;
	padding: 1em;
	margin: 5px 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-radius: 5px;
	width: min(90%, 700px);
	font-size: 0.9em;
}

.course-item > div {
	padding: 0.3em;
	border-top: 1px solid rgba(5, 97, 189, 0.444);
}
