input {
	/* background-color: #101927; */
	outline: none;

	/* border-bottom: 1px solid #101927; */
	/* color: #fff; */
	/* font-size: 1.2rem; */
	width: min(80%, 700px);
	border: none;
	/* border: solid 1px #204074; */
	border-radius: 50px;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 0.5em 1em;
	font-size: 1em;
	background-color: rgb(232, 231, 231);
}
input::placeholder {
	font-size: 1em;
}
input,
#search-icon {
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.392);
}
input:focus {
	border: 1px solid rgba(6, 141, 251, 0.37);
}

#search-icon:active {
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.392);
}
#searchBar-container {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
	/* margin-bottom: 1em; */
}

#search-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* border: solid 1px #204074; */
	background-color: rgb(232, 231, 231);

	border-left: none;
	border-radius: 50px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 0.5em;
}
#search-icon:active {
	background-color: rgba(35, 77, 205, 0.622);
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.392);
}

#search-icon:hover {
	cursor: pointer;
}
