.course-item {
	padding: 0.5em;
	margin: 5px 0;
	border-radius: 10px;
	width: min(90%, 700px);
	font-size: 0.9em;
	transition: box-shadow 75ms linear;
	display: flex;
	flex-direction: column;
	/* box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.392); */
	border: 1px solid rgba(0, 0, 0, 0.156);
	cursor: pointer;
}

.course-item > div {
	padding: 0.3em;
}

.selected {
	background-color: rgba(149, 177, 255, 0.316);
}
.check-icon {
	align-self: flex-end;
	height: 25px;
	width: 25px;
	position: absolute;
	opacity: 0.5;
}


.key {

	margin: 0 5px;
	text-decoration: underline;
	
}
.course-item:hover,
.selected {
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}
.value {
	/* padding: 0.3em; */
}
.field-wrapper {
	margin: 0px 0;
	display: flex;
}
