@import "tailwindcss";
@import "@nuxt/ui";
@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
}

:root {
  --ui-radius: 0.4rem;
}
.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.layout {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.layout-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
