@import "tailwindcss";
@import "@nuxt/ui";
@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
}

:root {
  --ui-radius: 0.4rem;
}

html {
  font-size: clamp(14px, 12px + 0.5vw, 16px);
}
.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100%;
  min-width: 0;
}

.layout {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.layout-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
