.action-bar {
	position: fixed;
	bottom: 8px;
	right: 0;
	z-index: 100;
	background-color: #d8dff6;
	padding: 8px;
	width: min(90%, 800px);
	border: 1px solid rgba(0, 0, 0, 0.5);
	font-size: 0.8rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 12px;
	backdrop-filter: blur(10px);
}

.red {
	color: red;
	border: 1px solid red;
}
button:hover.red {
	background-color: rgba(255, 129, 129, 0.621);
	color: red;
}
.action-bar-btn {
	padding: 0.5em 1em;
	border-radius: 8px;
	border: 2px solid transparent;
	cursor: pointer;
}
.go-btn {
	cursor: not-allowed;
}
.go-btn.enabled:hover {
	background-color: rgb(66, 102, 170);
}

.go-btn.enabled {
	color: white;
	background-color: rgb(76, 125, 214);
	cursor: pointer;
}
@media (max-width: 768px) {
	.action-bar {
		font-size: x-small;
	}
	.action-bar-btn.go-btn {
		padding: 4px 16px;
	}
	.action-bar-btn {
		padding: 4px;
	}
}
